<h1>About Us</h1>
<p><%= render 'first_paragraph' %>
</p>
<p>
  CDs and acetates, for overhead projectors, are available
  together with details of the relevant Key Stage and related
  topics for use with the ‘Here I Am’ scheme, an invaluable
  resource for schools.
</p>
<p>
  Six volumes are available, which can be used as part of assembly
  or hymn practice and in the classroom. Also, many primary religious
  education advisors are now encouraging teachers to use
  Liturgical Music to compliment prayer and meditation as part of
  the religious education lesson.
</p>
<p>
  There is no singing on the CDs so it can be used as a backing for
  the children to sing to or simply to create the right atmosphere.
</p>
<p>
  These CDs now come with the recommendation of Fr. Roger Barralet OFM,
  Schools Advisor, Cliton Diocese; Sr. Jude Groden RSM Primary RE Advisor,
  Brentwood Diocese; and Advisors from all over the country as a
  practical resource for Schools.
</p>
