@import 'compass';
@import 'compass/reset';
@import 'blueprint';
@import 'store';
@import 'songs';
@import 'scaffolds';
@import 'products';
@import 'about';

body > div {
  @include container;
}
p, h1, div {
  margin-bottom: 1em;
}

h3 {
  font-size: 120%;
}

aside {
  @include column(6);
  padding: {
    top: 1em;
    bottom: 1em;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

label:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
#notice {
  position: fixed;
  left: 0px;
  top: -60px;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 200%;
  div {
    margin-top: 10px;
  }
}
section {
  @include column(18);
  @include last;
  padding: {
    top: 1em;
    bottom: 1em;
  }
}
.separator {
  padding: {
    left: 0.5em;
    right: 0.5em;
  }
}
header {
  @include column(24);
  height: 75px;
  font-size: 24pt;
  padding-top: 10px;
}
footer {
  @include column(24);
  height: 30px;
  background-color: #c6aec7;
}
nav {
  @include column(24);
  @include last;
  background-color: #000;
  color: #fff;
  div {
    @include column(23);
    @include append(1);
    @include last;
    text-align: right;
    padding: 0.5em;
    font-size: 1.1em;
    margin-bottom: 0px;
  }
}
.price {
  text-align: right;
}
