/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'compass';
@import 'compass/reset';
@import 'blueprint';

body > div {
  @include container;
}

aside {
  @include column(6);
  padding: {
    top: 1em;
    bottom: 1em;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

section {
  @include column(18);
  @include last;
  padding: {
    top: 1em;
    bottom: 1em;
  }
}

header {
  @include column(24);
  height: 75px;
  font-size: 24pt;
  padding-top: 10px;
}
footer {
  @include column(24);
  height: 30px;
  background-color: #c6aec7;
}
nav {
  @include column(24);
  background-color: #c6aec7;
}

.list_line_odd {

}

.list_line_even {
 background-color: #c6aec7;
}
