// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'blueprint';
.products {
  #song_listing {
    td {
      padding: 0.25em;
    }
    th {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
  h3 {
    border-bottom: 2px #cccccc solid;
    font-size: 200%;
    font-weight: bold;
    color: #cccccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .format {
    font-size: 120%;
  }
  .cover_image {
    width: 190px;
    height: 265px;
    background-image: url('cover_shadow.png');
    padding: 5px;
  }
  .play_button {
    width: 25px;
  }
  #product_image {
    @include column(6);
    padding-top: 1em;
  }
  #product_desc {
    @include column(11);
    @include last;
    padding-top: 1em;
  }
  #product_payment, #product_songs {
    @include column(17);
    @include last;
    padding-top: 1em;
    label {
      font-size: 1.2em;
    }
  }

}
